<header>
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Northwind WMS</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#header-menu">&equiv;</button>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="navbar-nav">
          <li><a class="nav-link" href="#">Ship Orders</a></li>
          <li><a class="nav-link" href="#">Receive Product</a></li>
          <li><a class="nav-link" href="#">Take Inventory</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section style="display: flex">
    <img src="/assets/images/ChefHatLogo.png" alt="Northwind Traders" />
    <h1>{{title}}</h1>
  </section>
</header>
<main>
  <nw-dashboard></nw-dashboard>
</main>
