<h2>Receiving Products</h2>
<div class="alert alert-success"> Order status </div>
<div class="alert alert-info m-5">
  <h3>Instructions</h3>
  <ol>
    <li>Scan or enter a tracking number.</li>
    <li>Begin entering a description and choose from the options.</li>
    <li>Enter the number of items and check the <i>Got it</i> box.</li>
    <li>After you've picked, packed, and shipped your last item, click <i>Finished receiving</i></li>
  </ol>
  <p> If there's a problem and you need a supervisor to look at it, hit the "Problem" button.</p>
</div>
<section id="trackingInfo" class="m-5">
  <div class="control-group">
    <label class="control-label" for="trackingNumber">Tracking number</label>
    <input class="form-control" id="trackingNumber" required
      pattern="^\d[A-Z]\d{16}$|^\d{14,15}$|^9[2-4]\d{2}( ?\d{4}){4} ?\d{2}$" />
  </div>
  <button class="btn btn-primary btn-large">Continue</button>
</section>
<div>
  <section id="productInfo" class="m-5">
    <div class="control-group">
      <label class="control-label" for="productName">Product Name</label>
      <input class="form-control" id="productName">
    </div>
    <div class="list-group" id="productList">
      <button class="list-group-item">
        A placeholder product
      </button>
    </div>
    <section class="currentProduct row align-items-center">
      <img alt="Product name" src="assets/images/productImages/10.jpg" class="col-3 col-md-2 col-xl-1" />
      <div class="col-9 col-md-10 col-xl-11">
        <p>ID: id</p>
        <p class="h4">Current product name</p>
      </div>
    </section>
    <div class="control-group">
      <label class="control-label" for="quantity">Quantity Received</label>
      <input class="form-control" id="quantity" step="1" type="number">
    </div>
    <div class="control-group">
      <button class="btn btn-primary">Receive product</button>
    </div>
  </section>
  <section id="orderContents" class="m-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img alt="Fish Sauce" src="assets/images/productImages/8.jpg"></td>
          <td>7</td>
          <td>Fish Sauce</td>
          <td>17</td>
          <td>04A4D</td>
        </tr>
        <tr>
          <td><img alt="Jalapeno Ketchup" src="/assets/images/productImages/13.jpg"></td>
          <td>12</td>
          <td>jalapeno Ketchup</td>
          <td>11</td>
          <td>04C2C</td>
        </tr>
        <tr>
          <td><img alt="Mustard" src="/assets/images/productImages/24.jpg"></td>
          <td>65</td>
          <td>Mustard</td>
          <td>24</td>
          <td>05D2A</td>
        </tr>
        <tr>
          <td><img alt="Chewing gum" src="/assets/images/productImages/2.jpg"></td>
          <td>23</td>
          <td>Chewing gum</td>
          <td>34</td>
          <td>04D1C</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="m-5">
    <button class="btn btn-primary btn-lg">Finished receiving</button>
  </section>
</div>
