<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Products</th>
      <th>Destination</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.orderID }}</td>
      <td>{{ order.orderDate | date }}</td>
      <td>{{ order.lines.length }}</td>
      <td>{{ order.shipCity }}, {{ order.shipRegion }} {{ order.shipCountry }}</td>
    </tr>
    <!-- <tr>
          <td>12345</td>
          <td>Monday, April 1, 2099</td>
          <td>5</td>
          <td>Biloxi, MS 39534</td>
        </tr>
        <tr>
          <td>12346</td>
          <td>Monday, April 2, 2099</td>
          <td>3</td>
          <td>Ft. Lauderdale, FL 23998</td>
        </tr>
        <tr> -->
  </tbody>
</table>