<div class="col-sm-1">
    <img [src]="person.picture.large" [alt]="person.name.first + ' ' + person.name.last" class="img-responsive" />
    <div (click)="removeSelf(person)" class="glyphicon glyphicon-trash"></div>
  </div>
  <ul class="col-sm-11 list-group">
    <li class="list-group-item">{{ person.name.first }} {{ person.name.last }}</li>
    <li class="list-group-item">{{ person.location?.street }}</li>
    <li class="list-group-item">{{ person.location?.city }} {{ person.location?.state }} {{ person.location?.postcode }} </li>
    <li class="list-group-item">{{ person.email }} {{ person.phone }}</li>
  </ul>