<h1>
  Receive A product
</h1>
<p class="alert alert-info">
  Enter a productID and quantity received and we'll tell you where to put them.
</p>
<form>
  <div class="form-group">
    <label for="productID">Product ID</label>
    <input id="productID" class="form-control" />
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" min="0" class="form-control" />
  </div>
  <input type="submit" class="btn btn-primary" value="Receive" />
  <div class="well">
    Got it! You're receiving X of this product
    <div class="row">
      <div class="col-sm-3">
        <img [src]="'/assets/images/productImages/'+ product.productID +'.jpg'" alt=" " />
      </div>
      <div class="col-sm-9">
        {{ product.productName }}
      </div>
    </div>
    <div class="row">
      <p>Put it away in location {{ location }} and click below when ready.</p>
      <button class="btn btn-primary">Item is stocked</button>
    </div>
  </div>

</form>