<h2>Receiving Products</h2>
<div class="alert">{{ orderStatus }} Order status {{ orderStatusText }}</div>
<div class="alert alert-info">
  <h3>Instructions</h3>
  <ol>
    <li>Scan or enter a tracking number.</li>
    <li>Enter a product ID if you know it or begin entering a description and choose from options</li>
    <li> items and check the <i>Got it</i> box.</li>
    <li>After you've picked, packed, and shipped your last item, click <i>Mark as shipped</i></li>
  </ol>
  <p> If there's a problem and you need a supervisor to look at it, hit the "Problem" button.</p>
</div>
<section id="trackingInfo">
  <div class="control-group">
    <label for="trackingNumber" class="control-label">Tracking number</label>
    <input id="trackingNumber" class="form-control" />
  </div>
</section>
<section id="productInfo" class="well">
  <div class="control-group">
    <label for="productName" class="control-label">Product Name</label>
    <input id="productName" class="form-control" />
  </div>
  <div id="productList" class="list-group">
    <button class="list-group-item">A placeholder product</button>
    <button class="list-group-item">Another placeholder product</button>
    <button class="list-group-item">Yet another product</button>
  </div>
  <p>... OR ...</p>
  <div class="control-group">
    <label for="productID" class="control-label">Product ID</label>
    <input id="productID" class="form-control" />
  </div>
  <div class="control-group">
    <label for="quantity" class="control-label">Quantity Received</label>
    <input type="number" step="1" id="quantity" class="form-control" />
  </div>
  <div class="control-group">
    <input type="submit" class="btn btn-primary" />
  </div>
</section>
<section id="orderContents">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="assets/images/productImages/7.jpg" alt="Uncle Joe's Cajun Dipping Sauce" /></td>
        <td>7</td>
        <td>Uncle Joe's Cajun Dipping Sauce</td>
        <td>75</td>
        <td>04A4D</td>
      </tr>
      <tr>
        <td><img src="/assets/images/productImages/12.jpg" alt="Jalapeno Ketchup" /></td>
        <td>12</td>
        <td>jalapeno Ketchup</td>
        <td>56</td>
        <td>04C2C</td>
      </tr>
      <tr>
        <td><img src="/assets/images/productImages/65.jpg" alt="Klaus Food's German Mustard" /></td>
        <td>65</td>
        <td>Klaus Foods German Mustard</td>
        <td>33</td>
        <td>05D2A</td>
      </tr>
      <tr>
        <td><img src="/assets/images/productImages/23.jpg" alt="Bok Choi Fish Sauce" /></td>
        <td>23</td>
        <td>Bok Choi Fish Sauce</td>
        <td>26</td>
        <td>04D1C</td>
      </tr>
    </tbody>
  </table>
</section>