<h2>Receiving Products</h2>
<div class="alert alert-success"> Order status </div>
<div class="alert alert-info">
  <h3>Instructions</h3>
  <ol>
    <li>Scan or enter a tracking number.</li>
    <li>Enter a product ID if you know it or begin entering a description and choose from options</li>
    <li>Enter the number of items and check the <i>Got it</i> box.</li>
    <li>After you've picked, packed, and shipped your last item, click <i>Finished receiving</i></li>
  </ol>
  <p> If there's a problem and you need a supervisor to look at it, hit the "Problem" button.</p>
</div>
<section id="trackingInfo">
  <div class="control-group">
    <label class="control-label" for="trackingNumber">Tracking number</label>
    <input class="form-control" id="trackingNumber">
  </div>
  <button class="btn btn-primary btn-large">Continue</button>
</section>
<section class="well" id="productInfo">
  <div class="control-group">
    <label class="control-label" for="productName">Product Name</label>
    <input class="form-control" id="productName">
  </div>
  <div class="list-group" id="productList">
    <button class="list-group-item">A placeholder product</button>
    <button class="list-group-item">Another placeholder product</button>
    <button class="list-group-item">Yet another product</button>
  </div>
  <p>... OR ...</p>
  <div class="control-group">
    <label class="control-label" for="productID">Product ID</label>
    <input class="form-control" id="productID">
  </div>
  <div class="control-group">
    <label class="control-label" for="quantity">Quantity Received</label>
    <input class="form-control" id="quantity" step="1" type="number">
  </div>
  <div class="control-group">
    <input class="btn btn-primary" type="submit" value="Receive product" />
  </div>
</section>
<section id="orderContents">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img alt="Fish Sauce" src="assets/images/productImages/8.jpg"></td>
        <td>7</td>
        <td>Fish Sauce</td>
        <td>17</td>
        <td>04A4D</td>
      </tr>
      <tr>
        <td><img alt="Jalapeno Ketchup" src="/assets/images/productImages/13.jpg" class="img-responsive"></td>
        <td>12</td>
        <td>jalapeno Ketchup</td>
        <td>11</td>
        <td>04C2C</td>
      </tr>
      <tr>
        <td><img alt="Mustard" src="/assets/images/productImages/24.jpg"></td>
        <td>65</td>
        <td>Mustard</td>
        <td>24</td>
        <td>05D2A</td>
      </tr>
      <tr>
        <td><img alt="Chewing gum" src="/assets/images/productImages/2.jpg"></td>
        <td>23</td>
        <td>Chewing gum</td>
        <td>34</td>
        <td>04D1C</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <button class="btn btn-lg">Finished receiving</button>
</section>