<div class="alert alert-success">
    Order status: Ready to ship
  </div>
  <div class="alert alert-info">
    <h3>Instructions</h3>
    <ol>
      <li>Click a <i>Get best location</i> button and the system will tell you the best place to pick up your item.</li>
      <li>Pick the items and check the <i>Got it</i> box.</li>
      <li>After you've picked, packed, and shipped your last item, click <i>Mark as shipped</i></li>
    </ol>
    <p> If there's a problem and you need a supervisor to look at it, hit the "Problem" button.</p>
  </div>
  <section id="orderInfo">
    <ul class="list-group">
      <li class="list-group-item">
        Order number: 11065
      </li>
      <li class="list-group-item">
        Order date: 2017-06-10T10:54:24.384Z
      </li>
      <li class="list-group-item">
        Ship via: 1
      </li>
    </ul>
  </section>
  <section id="orderLines">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Got it!</th>
          <th>Location</th>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <button class="btn">Get best location</button>
          <td>30</td>
          <td><img src="/assets/images/productImages/30.jpg"></td>
          <td>4</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <button class="btn">Get best location</button>
          <td>54</td>
          <td><img src="/assets/images/productImages/54.jpg"></td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="markAsShipped">
    <button class="btn btn-lg btn-primary">Mark as shipped</button>
    <button class="btn btn-lg btn-danger">Problem</button>
  </section>
  <section id="shippingLabel">
    <h3>Shipping Label</h3>
    <pre>
      T'Challa Udaku
      1 Vibranium Way
      Birnin Zana, RG T4E-2H8
      Wakanda
      </pre>
  </section>