<section class="panel panel-primary">
    <div class="panel-heading">
      Orders ready to be picked: 3
    </div>
    <div class="panel-body">
      <p class="alert alert-danger">
        Our customers are our top priority! Please make sure these orders are picked, packed, and shipped as soon as possible.
      </p>
      <p class="alert alert-info">
        All orders have been taken care of.
      </p>
    </div>
    <div class="container">
      <div class="header-row row">
        <div class="col-xs-3">Order</div>
        <div class="col-xs-4">Date</div>
        <div class="col-xs-2">Products</div>
        <div class="col-xs-3">Destination</div>
      </div>
  
      <div class="container order-row">
        <div class="row row-1">
          <div class="col-xs-3">1</div>
          <div class="col-xs-4">2017-06-09T07:26:21.032Z</div>
          <div class="col-xs-2">3</div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row row-2">
          <div class="col-xs-3"></div>
          <div class="col-xs-9">123 Main Street, Anytown, ST, 01234</div>
        </div>
      </div>
      <div class="container order-row">
        <div class="row row-1">
          <div class="col-xs-3">2</div>
          <div class="col-xs-4">2017-06-09T21:54:41.252Z</div>
          <div class="col-xs-2">5</div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row row-2">
          <div class="col-xs-3"></div>
          <div class="col-xs-9">345 Elm Lane, Yourtown, ST, 98765 USA</div>
        </div>
      </div>
      <div class="container order-row">
        <div class="row row-1">
          <div class="col-xs-3">3</div>
          <div class="col-xs-4">2017-06-10T10:54:24.384Z</div>
          <div class="col-xs-2">2</div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row row-2">
          <div class="col-xs-3"></div>
          <div class="col-xs-9">Carrera 52 con Ave. Bolívar #65-98 Llano Largo, Barquisimeto, Lara, Barquisimeto, Venezuela</div>
        </div>
      </div>
    </div> <!-- End of container div -->
  </section> <!-- End of panel -->