<section class="card">
  <h3 class="card-heading text-bg-primary">
    Orders ready to be picked: <span class="badge">3</span>
  </h3>
  <div class="card-body">
    <p class="alert alert-danger">
      Our customers are our top priority! Please make sure these orders are picked, packed, and shipped as soon as
      possible.
    </p>
    <p class="alert alert-info">
      All orders have been taken care of.
    </p>
  </div>
  <nw-list-of-orders [orders]="orders"></nw-list-of-orders>
</section> <!-- End of panel -->
