<h1>
  All the peoples
</h1>
<section class="panel panel-primary ">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new person </h3>
  </div>
  <div class="panel-body row">
    <form>
      <div class="form-group">
        <label for="first">First</label>
        <input name="first" id="first" required  class="form-control" />
        <span>First name is required</span>
      </div>
      <div class="form-group">
        <label for="last">Last</label>
        <input name="last" id="last" required class="form-control" />
        <span>Last name is required</span>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input name="phone" id="phone" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input name="gender" id="gender" class="form-control" />
      </div>
      <input type="submit" value="Add card" class="btn btn-primary" />
    </form>
  </div>
</section>
<div class="panel panel-primary ">
  <div class="panel-heading">
    <h3 class="panel-title">FirstName LastName</h3>
  </div>
  <div class="panel-body row">
    <div class="col-sm-3">
      <img src="imageSource" alt="FirstName LastName" class="img-responsive img-circle" />
    </div>
    <div class="col-sm-9">
      <ul>
        <li>Phone: Phone</li>
        <li>Address:
          <br />
          StreetAddress
          <br />
          City, State Zip
        </li>
        <li>Email: Email</li>
        <li>Gender: Gender</li>
      </ul>
    </div>
  </div>
</div>