<div class="panel">
  <div>
    <img (click)="deleteMe(person)" src="{{ person.picture.medium }}" />
  </div>

  <div>
<h1>{{ person.name.first }} {{ person.name.last }}</h1>
<ul class="list-unstyled">
    <li>Gender: {{ person.gender }}</li>
    <li>Email: {{ person.email }}</li>
    <li>Phone: {{ person.phone }}</li>
    <li>Address: {{ person.location.street }} {{ person.location.city }} {{ person.location.state }} {{ person.location.postcode }}</li>
    <li>Nationality: {{ person.nat }}</li>
  </ul>
</div>
</div>