<section>
  <h1>Welcome to the challenges</h1>
  <p>
    These are problems that we will work on as a class to exercise the things we'll learn in the lectures. Together we'll create
    a component to list people. You can find that under the 'people' folder in the people.component.
  </p>
  <h2>Read about each challenge here:</h2>
  <ol>
    <li>
      <a href="#components">Components</a>
    </li>
    <li>
      <a href="#builtInDirectives">Built-in directives</a>
    </li>
    <li>
      <a href="#forms">Forms and 2-way binding</a>
    </li>
    <li>
      <a href="#composition">Composition with components</a>
    </li>
    <li>
      <a href="#ajax">Ajax</a>
    </li>
    <li>
      <a href="#observables">Observables</a>
    </li>
    <li>
      <a href="#services">Services</a>
    </li>
  </ol>
  <section id="components" class="panel">
    <h2>Components</h2>
    <div>
      Challenge
      <ul>
        <li>
          Create a basic component that will read in a list of people and display only the first one.
        </li>
        <li>
          You'll see a "list of people" TypeScript file. Read that into your new component.
        </li>
        <li>
          Then, using interpolation, display the information about that person.
        </li>
        <li>
          Apply some styles to your person and examine how the style is encapsulated.
        </li>
      </ul>
    </div>
  </section>
  <section id="builtInDirectives" class="panel">
    <h2>Built-in directives</h2>
    <div>
      Challenge
      <ul>
        <li>
          Given a list of people, iterate through them and display each person. (Hint: use *ngFor).
        </li>
      </ul>
    </div>
  </section>
  <section id="forms" class="panel">
    <h2>Forms and 2-way binding</h2>
    <div>
      Challenge:
      <ul>
        <li>Enable 2-way binding so the user can manage their name and SSN</li>
        <li>Give the user good feedback when the data entered is valid and if not, the reason why.</li>
      </ul>
    </div>
  </section>
  <section id="composition" class="panel">
    <h2>Composition with Components</h2>
    <div>
      Challenge:
      <ul>
        <li>Create a component that will display a bunch of people</li>
        <li>Create a subcomponent that will live in the list component</li>
        <li>Emit a delete event from the inner back up to the host. Delete the user from the host.</li>
      </ul>

    </div>
  </section>
  <section id="ajax" class="panel">
    <h2>Ajax</h2>
    <div>
      Challenge: Create a component that will consume the public-facing randomUser.me API. Read about it
      <a href="http://randomUser.me" target="_blank">here</a>.
    </div>
  </section>
  <section id="observables" class="panel">
    <h2>Observables</h2>
    <div>
      Challenge:
      <ul>
        <li>Create an async counter that updates the page every N seconds</li>
        <li>Refactor the Ajax request to be an observable</li>
      </ul>
    </div>
  </section>
  <section id="services" class="panel">
    <h2>Services</h2>
    <div>
      Challenge:
      <ul>
        <li>Create a service to share data across two unrelated components</li>
        <li>Refactor the Ajax request to be made from a service instead of directly in a component</li>
      </ul>
    </div>
  </section>
</section>