<div class="panel-heading">
  <h3 class="panel-title">{{ person.name.first }} {{ person.name.last }}
    <span (click)="deletePerson(person)" class="pull-right clickable">&times;</span></h3>
</div>
<div class="panel-body row">
  <div class="col-sm-3">
    <img [src]="person.picture.large || noImageSrc" alt="{{ person.name.first }} {{ person.name.last }}" class="img-fluid img-circle" />
  </div>
  <div class="col-sm-9">
    <ul class="list-group">
      <li class="list-group-item">Phone: {{ person.phone }}</li>
      <li class="list-group-item">Address:
        <br /> {{ person.location?.street }}
        <br /> {{ person.location?.city }}
        <span *ngIf="person.location">
        , </span>
        {{person.location?.state}} {{ person.location?.postcode }}
      </li>
      <li class="list-group-item">Email: {{ person.email }}</li>
      <li class="list-group-item">Gender: {{ person.gender }}</li>
    </ul>
    <label><input [(ngModel)]="isChecked" type="checkbox" /> Edit user</label>
    <div *ngIf="isChecked" class="well">
      <p *ngIf="personForm.invalid" class="alert alert-danger">Fields in red have errors.</p>
      <form #personForm="ngForm" name="personForm" class="was-validated">
        <div class="form-group" [ngClass]="{'has-error': true, 'has-success': false}">
          <label for="first">First</label>
          <input name="first" [(ngModel)]="person.name.first" id="first" required class="form-control" />
          <span class="invalid-feedback">First name is required</span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': true, 'has-success': false}">
          <label for="last">Last</label>
          <input name="last" [(ngModel)]="person.name.last" id="last" required class="form-control" />
          <span class="invalid-feedback">Last name is required</span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': true, 'has-success': false}">
          <label for="phone">Phone</label>
          <input id="phone" class="form-control" />
        </div>
        <div class="form-group" [ngClass]="{'has-error': true, 'has-success': false}">
          <label for="email">Email</label>
          <input #email="ngModel" [(ngModel)]="person.email" name="email" id="email" required pattern="\w+@\w+\.\w{2,}" type="email" class="form-control" />
          <div *ngIf="email.errors?.required" class="invalid-feedback">email is required</div>
          <div *ngIf="email.errors?.pattern" class="invalid-feedback">That's not an email address.</div>
        </div>
        <input type="submit" value="Save changes" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>